@font-face{
  font-family: 'Raleway-ExtraLight';
  font-weight: 200;
  font-style: normal;
  src: local('Raleway-ExtraLight'),
  url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
  url('../fonts/Raleway-ExtraLight.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Raleway-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Raleway-Light'),
  url('../fonts/Raleway-Light.woff2') format('woff2'),
  url('../fonts/Raleway-Light.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Raleway-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Raleway-Regular'),
  url('../fonts/Raleway-Regular.woff2') format('woff2'),
  url('../fonts/Raleway-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'CormorantUnicase-Light';
  font-weight: 300;
  font-style: normal;
  src: local('CormorantUnicase-Light'),
  url('../fonts/CormorantUnicase-Light.woff2') format('woff2'),
  url('../fonts/CormorantUnicase-Light.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'CormorantUnicase-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('CormorantUnicase-Regular'),
  url('../fonts/CormorantUnicase-Regular.woff2') format('woff2'),
  url('../fonts/CormorantUnicase-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'CormorantUnicase-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('CormorantUnicase-Medium'),
  url('../fonts/CormorantUnicase-Medium.woff2') format('woff2'),
  url('../fonts/CormorantUnicase-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'CormorantUnicase-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('CormorantUnicase-SemiBold'),
  url('../fonts/CormorantUnicase-SemiBold.woff2') format('woff2'),
  url('../fonts/CormorantUnicase-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'CormorantUnicase-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('CormorantUnicase-Bold'),
  url('../fonts/CormorantUnicase-Bold.woff2') format('woff2'),
  url('../fonts/CormorantUnicase-Bold.woff') format('woff');
  font-display: swap;
}