$default: #000;


%raleway-200{
  font-family: 'Raleway-ExtraLight', sans-serif;
  font-weight: 200;
}

%raleway-300{
  font-family: 'Raleway-Light', sans-serif;
  font-weight: 300;
}

%raleway-400{
  font-family: 'Raleway-Regular', sans-serif;
  font-weight: 400;
}

%cormorantunicase-300{
  font-family: 'CormorantUnicase-Light', sans-serif;
  font-weight: 300;
}

%cormorantunicase-400{
  font-family: 'CormorantUnicase-Regular', sans-serif;
  font-weight: 400;
}

%cormorantunicase-500{
  font-family: 'CormorantUnicase-SemiBold', sans-serif;
  font-weight: 500;
}

%cormorantunicase-600{
  font-family: 'CormorantUnicase-Bold', sans-serif;
  font-weight: 600;
}

%cormorantunicase-700{
  font-family: 'CormorantUnicase-Light', sans-serif;
  font-weight: 700;
}