@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__top{
    padding: 27px 0 108px;
  }
  &__top-inner{
    display: flex;
    align-items: center;
  }
  &__content-inner{
    min-height: calc(100vh - 232px);
  }
  &__content-title{
    margin-left: 86px;
    font-size: 96px;
    line-height: 101px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    @extend %cormorantunicase-600;
    max-width: 817px;
    margin-bottom: 148px;
  }
  &__content-btn{
    display: inline-block;
    padding: 18px 50px;
    margin: 0 50%;
    transform: translateX(-50%);
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
    color: #DDCDB4;
    border: 1px solid #DDCDB4;
    background: rgba(0, 0, 0, 0.4);
    display: none;
  }
}

.logo{
  margin: 0 234px 0 10px;
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 45px;
  }
  &__list-link{
    @extend %raleway-400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }
}

.about{
  padding-top: 110px;
  background-image: url(../images/logo-bg.svg);
  background-repeat: no-repeat;
  background-size: 34%;
  background-position: center center;
  background-color: #FAF7F2;
  color: #000;
  border-bottom: 1px solid rgba(152, 144, 132, 0.5);
  &__title{
    @extend %cormorantunicase-400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
  }
  &__subtitle{
    @extend %raleway-400;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 77px;
    text-align: center;
  }
  &__content{
    max-width: 950px;
    margin: 0 auto 76px;
  }
  &__content-text{
    font-size: 24px;
    line-height: 29px;
    max-width: 463px;
    margin-top: -27px;
    &:nth-child(odd){
      text-align: right;
    }
    &:nth-child(even){
      text-align: left;
      margin-left: 53%;
    }
  }
  &__slogan{
    @extend %cormorantunicase-300;
    text-align: center;
    font-size: 48px;
    line-height: 51px;
    max-width: 815px;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}

.teachers{
  padding-top: 130px;
  &__title{
    margin-bottom: 63px;
  }
  &__content{
    margin-left: 8%;
    margin-bottom: 142px;
    background-image: url(../images/logo-bg.svg);
    background-repeat: no-repeat;
    background-size: 34%;
    background-position: 87% 5%;
  }
  &__item{
    display: flex;
  }
  &__item--2{
    margin-top: -75px;
  }
  &__item-img{
    margin: 0 63px 0 30px;
    max-width: 335px;
    width: 100%;
    object-fit: cover;
  }
  &__content-box{
    max-width: 395px;
    margin-top: 40px;
  }
  &__content-box--2{
    text-align: right;
    margin-top: 150px;
  }
  &__content-title{
    @extend %cormorantunicase-600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__content-text + .teachers__content-text{
    margin-top: 15px;
  }
}

.blockquote{
  background-color: #FAF7F2;
  text-align: center;
  padding: 48px 0;
  @extend %cormorantunicase-300;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  &__author{
    display: block;
    @extend %raleway-200;
    font-size: 18px;
    line-height: 22px;
  }
}

.price{
  padding-top: 100px;
  &__title{
    margin-bottom: 56px;
  }
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    transition: all .3s;
    padding: 30px 20px 35px;
    &:hover{
      transform: translateY(5%);
      border: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
  &__img-box{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 300px;
    height: 178px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__img-title{
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    @extend %cormorantunicase-700;
    color: #fff;
  }
  &__content{
    text-align: center;
    background-color: #FCFAF7;
    padding: 32px 28px 140px;
    max-width: 300px;
    border: 1px solid rgba(152, 144, 132, 0.5);
    border-top: none;
    position: relative;
  }
  &__content-item{
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 18px;
  }
  &__content-price{
    position: absolute;
    @extend %cormorantunicase-400;
    font-size: 64px;
    line-height: 78px;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
  }
}



@import 'media';