@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &__top{
    padding: 27px 0 108px;
  }
  &__top-inner{
    display: flex;
    align-items: center;
  }
  &__content-inner{
    min-height: calc(100vh - 232px);
  }
  &__content-title{
    margin-left: 86px;
    font-size: 96px;
    line-height: 101px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
    @extend %cormorantunicase-600;
    max-width: 817px;
    margin-bottom: 148px;
  }
  &__content-btn{
    display: inline-block;
    padding: 18px 50px;
    margin: 0 50%;
    transform: translateX(-50%);
    font-size: 45px;
    line-height: 54px;
    text-transform: uppercase;
    color: #DDCDB4;
    border: 1px solid #DDCDB4;
    background: rgba(0, 0, 0, 0.4);
  }
}

.logo{
  margin: 0 234px 0 10px;
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    margin-left: 45px;
  }
  &__list-link{
    @extend %raleway-400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
  }
}

.about{
  padding-top: 110px;
  background-image: url(../images/logo-bg-about-our-teachers.svg);
  background-repeat: no-repeat;
  background-size: 34%;
  background-position: center center;
  background-color: #FAF7F2;
  color: #000;
  &__title{
    @extend %cormorantunicase-400;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
  }
  &__subtitle{
    @extend %raleway-400;
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 77px;
    text-align: center;
  }
  &__content{
    max-width: 950px;
    margin: 0 auto 76px;
  }
  &__content-text{
    font-size: 24px;
    line-height: 29px;
    max-width: 463px;
    margin-top: -27px;
    &:nth-child(odd){
      text-align: right;
    }
    &:nth-child(even){
      text-align: left;
      margin-left: 53%;
    }
  }
  &__slogan{
    @extend %cormorantunicase-300;
    text-align: center;
    font-size: 48px;
    line-height: 51px;
    max-width: 815px;
    margin: 0 auto;
    padding-bottom: 40px;
    border-bottom: 0.5px solid rgba(152, 144, 132, 0.5);
  }
}



@import 'media';